@model IEnumerable<MyWebsite.ViewModels.UserVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>List User</h1>
<partial name="_notificationPartial"></partial>

<div class="d-flex justify-content-sm-between">
    <a asp-action="Create" class="btn btn-primary">Create New</a>

    <partial name="_searchResultPartial"></partial>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Serial</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <img src="~/Images/TaiKhoan/@item.ImageUser" style="height:40px;" />
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="Edit">Edit</a> |

                    @* <button type="button" class="btn btn-sm btn-danger"
                            data-bs-toggle="modal" data-bs-target="#modal-@item.DanhMucId">
                        Delete
                    </button>


                    <div class="modal fade" id="modal-@item.DanhMucId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header row">
                                    <h1 class="modal-title fs-5 col-9" id="exampleModalLabel">@item.TenDanhMuc</h1>
                                    <img class="col-2" src="~/Images/DanhMuc/@item.HinhAnh" style="height:40px;" />
                                    <button type="button" class="btn-close col-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="text-danger">
                                        <b class="text-warning">All products in this category will be deleted!!</b>
                                        <br />
                                        Are you sure delete this Category?
                                    </h5>
                                </div>
                                <div class="modal-footer">
                                    <a asp-action="Delete" asp-route-id="@item.DanhMucId" class="btn btn-primary">Delete Confirm</a>
                                </div>
                            </div>
                        </div>
                    </div> *@
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>