@{
    ViewData["Title"] = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyWebsite.ViewModels.UserVM

<div class="container">

    <div class="col-md-9 mx-auto p-3">
        <h1 class="ms-5">Information</h1>
        <form action="Edit" method="post">
            <div class="row">
                
                <input type="hidden" asp-for="ID" />
                <div class="col-md-6">
                    <label class="mb-1" asp-for="Name"></label>
                    <input asp-for=Name type="text" class="form-control mb-3 rounded-5" value="@Model.Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Email" class="mb-1"></label>
                    <input asp-for=Email type="email" class="form-control mb-3 rounded-5" value="@Model.Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="mb-1" asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" type="text" class="form-control mb-3 rounded-5" value="@Model.PhoneNumber">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Address" class="mb-1"></label>
                    <input asp-for="Address" type="text" class="form-control mb-3 rounded-5" value="@Model.Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="CreatedDate" class="mb-1"></label>
                    <input asp-for="CreatedDate" readonly type="datetime" class="form-control mb-3 rounded-5" value="@Model.CreatedDate">
                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <div class="row">   
                        <div class="col-6">
                            <label asp-for="ImageUser" class="mb-1"></label>
                            <input id="readonlyInput" asp-for="ImageUser" type="hidden" class="form-control mb-3 rounded-5" value="@Model.ImageUser">
                            <img id="hinhanh" class="rounded-4" src="~/Images/TaiKhoan/@Model.ImageUser" style="height:90px;" />
                        </div>
                        <div class="col-6">
                            <label class="mb-1">Change Image</label>
                            <input onchange="ThayDoiHinh()" type="file" class="form-control mb-3 rounded-5" value="@Model.ImageUser">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="mb-1">Old Password</label>
                    <input value="" asp-for="Password" type="password" class="form-control mb-3 rounded-5">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label class="mb-1">New Password</label>
                    <input  asp-for="NewPassword" type="password" class="form-control mb-3 rounded-5" value="@Model.NewPassword">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6 d-flex justify-content-between">
                <input type="submit" class="btn btn-primary form-control fw-bold rounded-5 mt-3" value="Update Infor" />
                
            </div>
        </form>
    </div>
</div>

<script>
    function ThayDoiHinh() {
        var input = document.querySelector('input[type="file"]');
        var fileName = input.files[0].name;
        document.getElementById('readonlyInput').value = fileName;
        var hinh = document.getElementById('hinhanh');
        hinh.src = "/Images/TaiKhoan/" + fileName;
    }
</script>
